/* Color pallete */
:root{
    --green: rgb(24, 69, 59);
    --kelly_green: rgb(0, 138, 8);
    --dark_green: rgb(10, 29, 25);
}

/* Styling for background */
body { 
    background-image: url(../images/greek-158920.png);
    background-color: var(--dark_green);
    background-position-y: center;
    background-repeat: repeat-y;
    background-size: auto 100%;
    width: 100vw;
    height: 100vh;
    min-height: 750px;
    max-height: 750px;
}

