/* Color pallete */
:root{
    --green: rgb(24, 69, 59);
    --kelly_green: rgb(0, 138, 8);
    --dark_green: rgb(10, 29, 25);
}

/* Styling for the contact section */
#contact-section {
    display: flex;
    color: white;
    height: 80vh;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 80rem;
    text-align: left;
    width: 95%;
    border-radius: 5px;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--green);
    border-bottom: 2px solid var(--dark_green);
    border-right: 2px solid var(--dark_green);
    border-top: 2px solid  rgb(31, 92, 79);
    border-left: 2px solid rgb(31, 92, 79);
}

.contact-form-field {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin: 5px
}

.form-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
    margin-right: 15px;
    font-family: inherit;
    resize: none;
    overflow-y: auto;
}

.contact-button {
    display: block;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--kelly_green);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
}

.contact-button:hover {
    transition: all 0.4s;
    transform:translateY(-5px);
}
