/* Color pallete */
:root{
    --green: rgb(24, 69, 59);
    --kelly_green: rgb(0, 138, 8);
    --dark_green: rgb(10, 29, 25);
}

/* Styling for the projects section */
#projects-section {
    display: flex;
    color: white;
    height: 80vh;
}

.project-description{
    width: 400px;;
}

.project-container {
    width: fit-content;
    display: block;
    color: white;
    height: 80vh;
    width: fit-content;
    /* /* padding-top: 50px; */
    padding-left: 50px;
}

.project-container a{
    text-decoration: none;
    color: white;
    font-size: 18pt;
    padding-bottom: 20px;
}

#trello-clone-image {
    width: 700px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid silver;
    border-bottom: 2px solid silver;
}

.project-description{
    margin: 10px;
}

